.Form {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 25px;
    font-weight: bold;
    padding: 2px;

    border-radius: 5px;
    background-color: rgb(168, 161, 209);


}


.input_box {
    height: 40px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 5px;
    align-items: center;
   
}
input {
    height: 10px;
    width: 35%;

    padding: 10px;

    border: none;
    border-radius: 10px;
}

.font {
    color:rgb(246, 241, 250);
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
    

}

.Form > button {
    border: none;
    border-radius: 10px;
    background-color: rgb(225, 227, 240);

    padding: 10px;

    font-size: 20px;
    font-weight: bold;
    color: rgb(90, 80, 147);
}

.Form > button:hover {
    cursor: pointer;

    width: calc(15%);
}
